
 


<div class="container-fluid ">

  <div class="invoice-00001">
                                            <div class="content-section  animated animatedFadeInUp fadeInUp">
 <div style="margin-left:1150px;width:100px;margin-top:20px;background-color:white;" class=" fixed-top">
                <button  onclick="window.print()" class="btn btn-primary mb-2">Print</button>
                <button  routerLink="../../all-vdp" class="btn btn-warning mb-2">Retour</button>

    </div>
                            
                                            

                                                <div class="row inv--product-table-section">
                                                    <div class="col-4">
                                                    </div>
                                                    <div class="col-8">
                                                        <qrcode  [qrdata]="myAngularxQrCode"  [width]="200" [level]="'M'"></qrcode>

                                                    </div>
                                                </div>

                                          

                                            </div>
                                        </div> 
                                        </div> 
